  #title{
    background-color: #bc6ff1;
    padding: 3% 7%;

  }

  .download-button{
      margin: 5% 3% 5% 0;
  }

  .title-image{
    padding-top: 10%;
  }

  .covid-text{
    text-align: center;
    padding-top: 1px;
  }
 
